<body>
  <div class="grid-container">
    <div class="gallery">
      <figure class="item_1">
        <img src="../../assets/Jeff.jpg" class="gallery_img" alt="Jeff">
      </figure>
      <figure class="item_2">
        <img src="../../assets/Marissa.jpg" class="gallery_img" alt="Marissa">
      </figure>
      <figure class="item_3">
        <img src="../../assets/Mark26.png" class="gallery_img" alt="Mark">
      </figure>
      <figure class="item_4">
        <img src="../../assets/satya2.jpg" class="gallery_img" alt="">
      </figure>
      <figure class="item_5">
        <img src="../../assets/sundhar1.jpg" class="gallery_img" alt="sundhar">
      </figure>
      <figure class="item_6">
        <img src="../../assets/Tim1.jpg" class="gallery_img" alt="Tim">
      </figure>
    </div>
  </div>
</body>
